# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.dist
dist-ssr
*.local
backend_tmp
archive/**/node_modules
archive/**/.dist
Frontend/src/node_modules
Frontend/src/dist
Frontend/src/.vite
Frontend/src/.vite-temp
Backend/node_modules
Backend/.dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
