.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #bbb;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}