/* Full screen futuristic background */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at top, #0f2717, #203a43, #2c5364);
  overflow: hidden;
}

/* Glass effect card */
.glass-card {
  backdrop-filter: blur(20px);
  background: rgba(3, 170, 67, 0.05);
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  color: white;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.2);
}

/* Title glow */
.title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1dd43c;
  text-shadow: 0 0 20px #32db57, 0 0 40px #1f831f;
}

/* Subtitle */
.subtitle {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
}

/* Buttons */
.buttons {
  margin-top: 30px;
}

/* Neon buttons */
.neon-btn {
  background: transparent;
  border: 2px solid #10a317;
  color: #0faa55;
  padding: 12px 25px;
  margin: 10px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px rgb(11, 177, 75);
}

.neon-btn:hover {
  background: #0eb30e;
  color: #000;
  box-shadow: 0 0 30px #0da33a;
}

/* Secondary button */
.secondary {
  border-color: #04bb84;
  color: #0dda4b;
  box-shadow: 0 0 10px #069926;
}

.secondary:hover {
  background: #06ce60;
  color: #000;
  box-shadow: 0 0 30px #22d40a;
}